<ion-view title="Personal Reminder" cache-view="false"  class="backhroundcolor " ng-init="getAllProducts();setCallAndTextSettings()" ng-controller="CTRL_NewReminder as $ctrl">

<ion-header-bar class="bar-positive">
      <h1 class="title">Personal Reminder</h1>   
</ion-header-bar>

<ion-content >
	<span class="userName">Reminder me on below</span>
	<button class="button button-balanced order-button buttonAnimationSmall" ng-click="changeFrequencyType()">
					{{frequencyType}}
	</button>
	
	<br/>
	<!-- Every monday, tuesday -->
	<span ng-show="frequencyType =='Day'">
		
		<div class="textBoxSmall">
	 		<input id="hour_Day" class="verySmallInput" type="text" placeholder="HH *" ng-model="reminder.hour" ng-change="moveToMinute_Day()">
		</div>
		<div class="textBoxSmall">
	 		<input id="minute_Day" class="verySmallInput" type="text" placeholder="Min *" ng-model="reminder.minute" ng-change="moveToSubject()">
		</div>
		<br/>
		&nbsp;&nbsp;<select class="selectFrequency" ng-model="reminder.selectedDayRepeat" ng-options="x for x in frequencyDaysRepeat"></select>&nbsp;&nbsp;&nbsp;
		<select class="selectFrequency" ng-model="reminder.selectedDay" ng-options="x for x in frequencyDays"></select>
	</span>
	
		
	<span ng-show="frequencyType =='Date'">
		<div class="inline">
			<button class="button button-balanced order-button buttonAnimation" ng-click="changeFrequency()">
				 {{frequencyWithDate}}
			</button>
	 	</div>
		<!-- Enter date -->
		<div class="textBoxSmall paddingCenter" ng-show="frequencyWithDate =='Once'">
	 		<input id="year" class="smallInput" type="text" placeholder="YYYY *" ng-model="reminder.year" ng-change="moveToMonth()">
		</div>
		<div class="textBoxSmall" ng-show="frequencyWithDate =='Once'  || frequencyWithDate =='Yearly'">
	 		<input id="month" class="verySmallInput" type="text" placeholder="MM *" ng-model="reminder.month" ng-change="moveToDay()">
		</div>
		<div class="textBoxSmall" ng-show="frequencyWithDate =='Once' || frequencyWithDate =='Yearly' || frequencyWithDate =='Monthly' ">
	 		<input id="day" class="verySmallInput" type="text" placeholder="DD *" ng-model="reminder.day" ng-change="moveToHour()">
		</div>
		<div class="textBoxSmall">
	 		<input id="hour" class="verySmallInput" type="text" placeholder="HH *" ng-model="reminder.hour" ng-change="moveToMinute()">
		</div>
		<div class="textBoxSmall">
	 		<input id="minute" class="verySmallInput" type="text" placeholder="Min *" ng-model="reminder.minute" ng-change="moveToSubject()">
		</div><!-- Enter date -->
		
		
	 	<br/>
	</span>	
	
	<br/><br/>

	
	 <div class="fullwidth">
		<hr/>
	</div>
	 
	 
     <div class="textBoxMedium">
 		<input id="subject" class="fluidInput" type="text" placeholder="Reminder Subject *" ng-model="reminder.reminderSubject">
	 </div>
	  <div class="textBoxMedium">
 		<input  class="fluidInput" type="text" placeholder="Reminder Text *" ng-model="reminder.reminderText" ng-keyup="checkEnter()">
	</div>
	

	<br/><br/><br/><br/><br/>
	 <div class="fullwidth">
		<hr/>
	</div>
	<span class="userName">Reminder Via</span> 
		
		<!-- verified Phone numbers -->
		 <span ng-show="reminder.makeACall || reminder.sendText">
		  &nbsp;<select ng-show="verifiedPhones.length > 1" class="selectFrequency" ng-model="$ctrl.selectedPhone" ng-options="x for x in verifiedPhones"></select>
		  <span  class="userName" ng-show="verifiedPhones.length == 1">{{$ctrl.selectedPhone}}</span>
		  </span>
		  <button ng-if="verifiedPhones.length <=0 "  class="button button-balanced buttonAnimationTiny"  ng-click="addPhoneNoToProfile()"> 
				 + Phone
			</button>
	<div class="notifyButtons">
	 <div class="inline">
			<span class="iconSize">
				 <i class="icon ion-email-unread"></i> <!-- <i class="icon ion-android-done"></i> -->
			</span>
	   </div>
	  
	   <div class="inline">
	 
			<button ng-if="!reminder.makeACall" class="button button-balanced order-button buttonAnimation" style="background-color:gray;" ng-click="toggleCall()"> 
				 <i class="icon ion-android-call"></i> <i class="icon ion-android-close"></i>
			</button>
			<button ng-if="reminder.makeACall"  class="button button-balanced order-button buttonAnimation"  ng-click="toggleCall()"> 
				 <i class="icon ion-android-call"></i> <i  class="icon ion-android-done"></i>
			</button>
	   </div>
	    <div class="inline" >
	    	
			<button ng-show="!reminder.sendText" class="button button-balanced order-button buttonAnimation" style="background-color:gray;"  ng-click="toggleSMS()" > 
				 <i class="icon ion-android-textsms"></i>  <i  class="icon ion-android-close"></i>
			</button>
			<button ng-show="reminder.sendText" class="button button-balanced order-button buttonAnimation" ng-click="toggleSMS()" > 
				 <i class="icon ion-android-textsms"></i> <i  class="icon ion-android-done"></i> 
			</button>
	   </div>
  </div> 
 
	<br/><br/><br/>
	 <div class="fullwidth">
		<hr/>
	</div>
	
	<div class="centerBtn">
		<button class="button button-balanced order-button" ng-click="addReminder()" > Add Reminder
			 <i class="icon ion-android-add-circle"></i>
		</button>
   </div>
</ion-content>
</ion-view>
