<ion-view title="ToDo" cache-view="false"  class="backhroundcolor " ng-init="getToDos()" ng-controller="CTRL_TODO as $ctrl">

<ion-header-bar class="bar-positive">
      <h1 class="title">ToDO</h1>   
</ion-header-bar>

<ion-content class="padding">
	<div>
	<span class="userName blockDisplay">{{userName}}</span> <span class="userName" ng-click="$ctrl.logOut()">Log Out &nbsp;<i class="icon ion-log-out"></i></span>
	</div>
	<div>
		<span class="whitecolor ">
		<div><span class="userName">Swipe left to complete/undo an item</span></div>
		 <!-- Search bar -->
		    <div class="list list-inset searchbox">
			  <label class="item item-input searchboxInput">
			    <i class="icon ion-android-add"></i>
			    <input type="text" placeholder="Add new To Do item"  ng-model="$ctrl.newTodo" ng-keyup="checkEnter()"> 
			  </label>
			</div>
		</span>
		
		<button ng-click="addNewTodo()" id="floatingBtn" class="floatingBtn top0" name="add new" title="add new todo" >
			 <i class="icon ion-plus"></i>
		</button>
	</div>
	
	<!-- Users todos -->
	<div class="topSpace">
		<ion-item class="smallPadding" ng-repeat="todo in todos track by $index" on-swipe-left="markeComplete({{$index}})">
		  <div class="productDesc" style=" height: 55px;">
		  	<button ng-click="moveDown($index)" class="greenRoundBtn"><i class="icon ion-arrow-down-a" ></i></button>
		  	<span class="floatingLeftToDo italicBlue" style=" line-height: 1.5;"><b>{{todo.taskDesc}}</b> </span> 
		  
		  	<button ng-click="moveUp($index)" class="floatingRightToDo greenRoundBtn"><i class="icon ion-arrow-up-a"></i></button>
		   </div>
		 </ion-item>
	</div>
	
	
	<!-- Users todos -->
	<div class="topSpace">
	<div ng-if="completedTodos.length > 0"><span class="userName">Completed items will be deleted after 7 days</span></div>
		<ion-item class="smallPadding" ng-repeat="todo in completedTodos track by $index" on-swipe-left="markePending({{$index}})">
		  <div class="productDesc">
		  		<span class="italicGray" style=" line-height: 1.5;"> <b><strike>{{todo.taskDesc}} </strike></b> </span>
		   </div>
		 </ion-item>
	</div>
</ion-content>
</ion-view>
