<ion-view title="Add Cash" class="backhroundcolor" cache-view="false" ng-controller="CTRL_CASH as $ctrl">
<ion-header-bar class="bar-positive" >
      <h1 class="title">Add Cash</h1>
    </ion-header-bar>
<ion-content class="padding">
<span class="whitecolor">
<!--  Recharhe component -->
<div class="centerBtn">
	<div class="textBoxSmall paddingCenter inline" >
	 	<input id="rechargeAmount" class="fluidInput " type="text" placeholder="Recharge Amount" ng-model="recharge.amount" ng-change="validateAmount()">
	 	&nbsp;<button class="button button-calm order-button" ng-click="goToHome()">Cancel </button>&nbsp;&nbsp;&nbsp;
			<button class="button button-balanced order-button" ng-click="goToHome()" > Recharge
				<!--   <i class="icon ion-android-add-circle"></i>-->
			</button>
	</div>
	
</div>	

	
</span>
</ion-content>
</ion-view>